.wrapper {
    width: 631px;
    padding: 44px 52px;
    border-radius: 10px;
    background-color: var(--color-lightest);
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.detailsWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 8px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--color-light);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}
