:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --color-darkest: #101828;
    --color-darker: #475467;
    --color-dark: #6C717B;

    --color-accent: #E44848;
    --color-accent-strong: #D84343;
    --color-accent-light: #FFC531;

    --color-light: #DADDE1;
    --color-lighter: #F2F4F7;
    --color-lightest: #F7F7F7;

    --color-white: #FFFFFF;

    --border-radius-light: 12px;
    --border-radius-medium: 100px;
    --border-radius-hard: 200px;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--color-darkest);
}

li {
    list-style: none;
}

a {
    text-decoration: inherit;
    color: inherit;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-darkest);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 64px 80px 64px;
}

.input {
    height: 60px;
    padding: 18px;
    border-radius: var(--border-radius-light);
    background-color: var(--color-lightest);
    border: none;
    outline: none;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-dark);
}

.input:focus {
    color: var(--color-darkest);
}
