:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --color-darkest: #101828;
    --color-darker: #475467;
    --color-dark: #6C717B;

    --color-accent: #E44848;
    --color-accent-strong: #D84343;
    --color-accent-light: #FFC531;

    --color-light: #DADDE1;
    --color-lighter: #F2F4F7;
    --color-lightest: #F7F7F7;

    --color-white: #FFFFFF;

    --border-radius-light: 12px;
    --border-radius-medium: 100px;
    --border-radius-hard: 200px;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--color-darkest);
}

li {
    list-style: none;
}

a {
    text-decoration: inherit;
    color: inherit;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-darkest);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 64px 80px 64px;
}

.input {
    height: 60px;
    padding: 18px;
    border-radius: var(--border-radius-light);
    background-color: var(--color-lightest);
    border: none;
    outline: none;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-dark);
}

.input:focus {
    color: var(--color-darkest);
}


/*custom data-picker*/
.react-datepicker {
    width: 276px !important;
    height: 274px !important;
    border: 1px solid var(--color-darkest) !important;
    border-radius: var(--border-radius-light) !important;
    box-sizing: border-box !important;
    color: var(--color-darkest) !important;
    overflow: hidden !important;
}

.react-datepicker__header {
    width: 276px !important;
    padding: 12px !important;
    background-color: white !important;
}

.react-datepicker__month {
    margin: 0 !important;
    width: 100% !important;
    padding: 12px !important;

}

.react-datepicker__day-names {
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;
}

.react-datepicker__day-name  {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--color-darkest) !important;
}

.react-datepicker__day--selected {
    border-radius: 50px !important;
    background-color: var(--color-darker) !important;
    color: #fff !important;
    width: 30px !important;
    height: 25px !important;
}

.react-datepicker__week  {
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;
    margin-bottom: 4px !important;
}

.react-datepicker__day:hover  {
    border-radius: 50% !important;
    background-color: var(--color-darker) !important;
    opacity: 0.7;
    width: 28px !important;
    height: 25px !important;
    color: #fff !important;
}


.react-datepicker__current-month  {
    margin-bottom: 14px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 1.2;
    color: var(--color-darkest) !important;
}

.react-datepicker__navigation  {
    top: 5px !important;
}

.react-datepicker__navigation--previous  {
    left: 12px !important;
}

.react-datepicker__navigation--next  {
    right: 12px !important;
}

.addCustomClass {
    color:  #ccc;
}
